html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

body h3 {
    font-family: Anton;
    font-size: 3.5em;
}

/*para todos las cartas */

.card-title {
    padding: 10px !important;
    border-radius: 30px;
    background: #0d0d0d;
    color: #f2b705 !important;
    font-family: Anton;
    font-size: 18px !important;
}

.card-title:hover {
    padding: 10px !important;
    border-radius: 30px;
    background: #f2b705;
    color: #0d0d0d !important;
    font-family: Anton;
    font-size: 18px !important;
}

.card-content p{
    color: black;
}

/*css del boton arriba*/
.boton-arriba {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #3d9dd9;
    border-radius:35px; 
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
}

.boton-arriba .buton-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-arriba a {
    color: white;
    font-size: 40px;
}



header{
    font-family: 'roboto';
}

/*con esta seccion iremos por partes con  primero con el nav principal*/

.pre-nav {
    min-height: 5vh;
    background: #f2b705;
}

.nav-1 {
    background: linear-gradient(45deg, #fff 60%, #f2b705 40%);
    font-family: 'anton';
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 2em;
}

/*aqui vamos declarar los estilos del banner*/

.banner{
    max-height: 19vh;
    overflow: hidden;
}

.banner figure {
    padding: 0;
    max-width: 25vh;
}

.banner .phone-number {
    /*estilos generales del contenedor del numero de telefono*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.phone-number h3 {
    font-family: 'Anton';
    font-size: 2em;
}

.call-number {
    font-family: 'Maven pro', 'Anton';
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
}

.call-number a{
    color: #3d9dd9;
}

.call-number a:hover {
    color: #3eeee0;
}

/*estos son los estilos del segundo nav*/

.nav-2 {
    background: #0d0d0d;
    font-family: 'anton';
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 2em;
}

.nav-2 ul li a{
    padding: 0 20px 0 20px;
}

.nav-2 ul li .black-hover:hover {
    background: #fff;
    color: #0d0d0d;    
}

.dropdown-content {
    color: #0d0d0d;
}

/*vamos con las imagenes y el background del carousel*/

.hero {
    background: #f2b705;
    max-height: 40vh;
    overflow: hidden;
}

.carousel {
    max-height: 40vh;
    width: 100%;
}

.carousel-1 {
    background-image: url(https://image.freepik.com/foto-gratis/sistema-inyeccion-moderno-motor-diesel-turbo-common-rail-arbol-levas-tapa-valvula_77569-44.jpg);
    background-size: cover;
}

.carousel-2 {
    background-image: url(https://image.freepik.com/foto-gratis/primer-plano-motor-coche_1170-1510.jpg);
    background-size: cover;
}

.carousel-3 {
    background-image: url(http://www.isk.cl/wp-content/uploads/2018/06/Foto-1-Limpia-Inyector-cnc-602A.jpg);
    background-size: contain;
}

.carousel-4 {
    background-image: url(https://image.freepik.com/vector-gratis/transporte-mercancia-carga-logistica-caricatura_18591-52476.jpg);
    background-size: contain;
}

.divider{
    padding: 0 ;
    margin: 0;
    height: 1vh;
    width: 100%;
    background: #0d0d0d;
}

/*listo con el caousel y vamos con los containers de descripcion*/

.description{
    background: #f2b705;
    max-height: 20vh;
    min-height: 20vh;
    overflow: hidden;
}

.description .col{
    max-height: 15vh;
    min-height: 10vh;
}

.description .darker{
    background: #f2cb05
}

.desc p {
    font-family: 'anton';
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
}

/*esta es el link para los productos*/

.see-more {
    height: 5vh;
    max-height: 5vh;
    width: 10vw;
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    border-radius: 150px;
}

.see-more h4 a {
    color: white;
}

.see-more h4 a:hover {
    color: #3d9dd9;
}

/*esto es para el sidenav para los telefonos*/
.sidenav-trigger {
    color: black;
}

.sidenav-trigger:hover {
    color: #f2b705;
}

/*con esto configuramos los aside*/
.aside {
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 8vh;
}
/*esto es para los servicios*/

.servicios h3 {
    font-family: Anton;
    font-size: 3.5em;
}

.serviciosTitle h3 {
    font-size: 2em;
}

/*esto es para los inyectores*/

#productos h3 {
    font-family: Anton;
    font-size: 3.5em;
}

/*esto es para los repuestos de injectores*/

.repuestosDeInjectores h3{
    font-family: Anton;
    font-size: 3.5em;
}

/*esto es para las ubicaciones*/

#ubicanos h4 {
    font-family: Anton;
    font-size: 3.5em;
}

#ubicanos iframe {
    max-width: 100%;
}
/*esto es para el footer*/
footer {
    background: #0d0d0d !important;
    color: white; 
    min-height: 35vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
}

@media screen and (min-width: 918px) {

    .phone-number {
        margin: auto;
        padding: 20px;
    }

    .phone-number h3 {
        font-size: 2.5em;
        margin: auto;
    }

}