/* esta clase es para ocultar elementos*/
.hiden {
    display: none;
}

/*esto es para el categories bar de la izquierda*/
.cateBar {
    position: sticky;
    top: 10px;
}

.cateBar li ul {
    list-style: none;
    text-decoration: none;
}

.cateBar ul li {
    text-decoration: none;
    list-style-type: none !important;
}


@media screen and (max-width: 992px) {
    /*esto es para los elementos de contacto superior*/
    .phone-number h3 {
        font-size: 40px !important;
    }

    /*esto es para el footer*/

    .center-align {
        text-align: center;
    }
}