/* esta clase es para ocultar elementos*/
.hiden {
    display: none;
}

/*esto es para el categories bar de la izquierda*/
.cateBar {
    position: sticky;
    top: 10px;
}

.cateBar li ul {
    list-style: none;
    text-decoration: none;
}

.cateBar ul li {
    text-decoration: none;
    list-style-type: none !important;
}

.background {
    background-image: url(https://i.imgur.com/oudWSBSm.jpg);
    background-size: cover;
}

@media screen and (max-width: 992px) {
    /*esto es para los elementos de contacto superior*/
    .phone-number h3 {
        font-size: 40px !important;
    }

    /*esto es para el footer*/

    .center-align {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    footer h5 {
        font-size: 16px;
    }

    .boton-arriba {
        position: fixed;
        bottom: 30px;
        right: 30px;
        background: rgba(0, 150, 200, 0.5) !important;
        border-radius:35px; 
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        height: 70px;
        min-height: 70px;
        max-height: 70px;
    }
}
